@import '../../../scss/variables';

.form {
    margin: 40px auto;
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
    justify-content: center;
}

.input {
    padding-left: 10px;
    width: 200px;
    height: 50px;
    transition: 300ms;

    &:focus {
        width: 300px;
    }
}